/*-------- GLOBAL STYLES ---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    margin: 0;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    color: #505d68;
    line-height: 1.5;
    background-color: rgba(229, 196, 157, 0.2);
    /* background-image: url("images/backround-pattern.png");
    background-repeat: repeat;
    background-size: 800px;
    background-position: top left; */
}

/*-------- TYPOGRAPHY ---------*/

h1 {
    font-size: 3.8rem;
    color: #ffffff;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #77BF54;
    display: block;
    margin: 16px 0;
    padding: 12px 48px;
}

a.button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #77BF54;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 26px 0;
}

/*-------- UTILITY ---------*/
/* these CSS properties have been sepearated into individual style rules so that you can apply them to multiple blocks of content */

.content-width {
    width: 334px;
    margin: auto;
}

.dark-background {
    background-color: #f2f5f7;
}

/*-------- HEADER ---------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #f2f5f7; */
    color: #505d68;
}

.logo {
    width: 200px;
    font-weight: bold;
}

.nav-links {
    display: none;
    /* hide row menu */
    list-style: none;
    flex-direction: column;
    background-color: #906C3F;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    z-index: 1;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.menu-btn {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: #906C3F;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.callback-btn {
    display: none;
    /* hide right callback */
}

.mobile-callback {
    display: block;
    /* callback in dropdown */
}

.mobile-callback a {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #77BF54;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 12px 48px;
}

/*-------- HERO ---------*/

section.hero {
    background-image: url("images/background.png");
    background-position: bottom right;
    background-size: 85%;
    background-repeat: no-repeat;
    text-align: center;
    height: 60vh;
    padding: 56px 0;
    background-color: #E5C49D;
}

.background-video {
    display: none;
}

.overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

/*-------- products --------*/
.products {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #424B5A;
}

.products-container {
    display: flex;
    flex-direction: column;
}

.products h2 {
    font-size: 2.4rem;
    color: #424B5A;
    font-weight: 700;
}

.product-item {
    margin: 20px 0;
    padding: 15px;
    background-color: rgba(229, 196, 157, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.avatar {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin: 0 auto 10px;
}

.product-item p {
    font-size: 1.4rem;
    /* color: #a1aeb7; */
    margin: 10px 0;
}

.product-item h3 {
    font-size: 1.6rem;
    color: #424B5A;
    font-weight: 700;
    margin: 5px 0;
}

.job-title {
    font-size: 1.2rem;
    color: #a1aeb7;
}

/*-------- CALL TO ACTION --------*/
.call-to-action {
    background-color: #E5C49D;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
}

.call-to-action .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.call-to-action .cta-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 400px;
    /* Controls image size */
}

.call-to-action .cta-content {
    max-width: 600px;
    text-align: center;
}

.call-to-action h2 {
    font-size: 2.4rem;
    color: #424B5A;
    font-weight: 700;
    margin: 10px 0;
}

.call-to-action p {
    font-size: 1.6rem;
    color: #505d68;
    margin: 10px 0 20px;
}


/* UPCOMING EVENTS */
.upcoming-events {
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    color: #424B5A;
    background-color: #f7f2ed;
    border-radius: 8px;
}

.upcoming-events h2 {
    font-size: 2.4rem;
    color: #424B5A;
    font-weight: 700;
}

.upcoming-events p {
    font-size: 1.6rem;
    margin: 10px 0;
    color: #505d68;
}

.events-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-item {
    background-color: rgba(229, 196, 157, 0.5);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-item h3 {
    font-size: 1.8rem;
    color: #424B5A;
    font-weight: 700;
}

.event-item p {
    font-size: 1.4rem;
    color: #505d68;
}


/*-------- FOOTER ---------*/
.footer {
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
}

.footer-nav {
    border-top: 1px solid #d3d3d3;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.footer-nav ul li {
    margin: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #505d68;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0px;
}

.copyright {
    font-size: 1.2rem;
    color: #a1aeb7;
    margin: 10px 0;
    border-top: 1px solid #d3d3d3;
}

footer p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: #a1aeb7;
    padding-top: 10px;
}


/* ABOUT US PAGE */
.about-us-hero {
    position: relative;
    height: 300px;
    background: url('images/back-about.jpg') no-repeat center center/cover;
    text-align: center;
    color: white;
    padding: 30px 0;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

/* Изображение */
.info-image {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    object-fit: cover;
}

/* Текстовый блок */
.info-text {
    width: 100%;
}

.info-text h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.info-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}


/* Testimonials */
.testimonials blockquote {
    font-style: italic;
    background: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #ccc;
    margin: 10px 0;
}

/* Video Section */
.video-section video {
    width: 100%;
    border-radius: 10px;
}

/* Call to Action */
.cta {
    text-align: center;
    padding: 30px 20px;
    background: #f4f4f4;
}

.cta .button:hover {
    background: #555;
}

/* Map */
.map-section iframe {
    border: none;
    width: 100%;
}











/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 6.6rem;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0;
        color: #ffffff;
    }

    a {
        display: inline-block;
    }

    .content-width {
        width: 1130px;
    }

    /* LARGE HEADER */
    .nav-links {
        display: flex;
        /* show row nav */
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        align-items: center;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        color: #505d68;
    }

    .mobile-callback a {
        color: #ffffff;
    }

    /* hide hamburger */
    .menu-btn {
        display: none;
    }

    .login-btn {
        display: inline-block;
    }

    /* LARGE HERO */
    section.hero {
        background-size: auto 75%;
        text-align: initial;
        height: initial;
    }

    section.hero p {
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        width: 50%;
    }

    .background-video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section.hero {
        background-image: none;
        position: relative;
    }

    .overlay {
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: 50px;
        border-radius: 8px;
    }

    /* LARGE products */
    .products {
        width: auto;
    }

    .products-container {
        flex-direction: row;
        gap: 20px;
    }

    .product-item {
        width: 100%;
    }

    /*-------- CALL TO ACTION LARGE--------*/
    .call-to-action .content-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .call-to-action .cta-image {
        width: 45%;
    }

    .call-to-action .cta-content {
        text-align: left;
    }

    /* UPCOMING EVENTS LARGE */
    .events-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .event-item {
        flex: 1;
        margin: 0 10px;
    }

    /* FOOTER LARGE */
    .footer-nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .footer-nav ul li {
        margin: 0;
    }


    /* ABOUT US PAGE LARGE */
    .info-block {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .info-image {
        flex: 1 1 40%;
        max-width: 20%;
        margin: 0 2rem 0 0;
    }

    .info-text {
        flex: 1 1 60%;
    }

    .info-text h2 {
        font-size: 2.4rem;
    }

    .info-text p {
        font-size: 1.4rem;
    }

}